<link itemprop="url" href='https://cdn.jsdelivr.net/npm/devicons@1.8.0/css/devicons.min.css' rel='stylesheet'>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="card">
        <div class="card-header">O blogu</div>
        <div class="card-body">
          Lubię uczę się nowych technologii i przy okazji sporządzam notatki. Blog powstał z myślą dzielenia
          się moją pokaźną biblioteką zapisków. Chciałbym też, aby moje posty służyły mi do przypomnienia i utrwalenia
          wiedzy, więc moje teksty będą często przybierały formę krótkich skryptów. <br>
          Oprócz tematów programistycznych pojawiać się będą posty o programach napisanych na Linuksy oraz ich
          konfiguracją. Nie byłbym
          sobą jakbym od czasu do czasu nie zamieszczał wpisów z moimi zainteresowaniami oraz zabarwiał teksty
          poczuciem humoru (często wątpliwej jakości) <br>
        </div>

        <div class="card">
          <div class="card-header">Kim jestem</div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-4">
                <picture>
                  <source type="image/avif" srcset="assets/img/about/portrait.avif">
                  <img class="img-thumbnail" src="assets/img/about/portrait.jpg" alt="portrait"/>
                </picture>
              </div>
              <div class="col-12 col-md-8">
                <div class="card-text">
                  Skończyłem studia Zarządzania (pollub) oraz Informatyki (WSPiA), na których zacząłem przygodę z Javą i
                  pokrewnymi technologiami.
                  W jednej z pracy nauczyłem się tworzyć gry przy pomocy kreatora
                  <a href="https://www.construct.net/pl">Construct</a> i strony internetowe. Teraz pracuje jako Java
                  developer
                  przy technologiach webowych.
                  <br>
                  Jestem zwolennikiem systemów GNU/Linux, vim i wolnego oprogramowania.
                  Najczęściej udzielam się na forum <a href="https://forum.pasja-informatyki.pl/">pasja-informatyki</a>pod
                  nickiem miro.
                  <br>
                  <br>
                  Moje projekty (niektóre są stare) są na
                  <a href="https://github.com/amiroslaw">GitHub</a>. Więcej informacji o mnie można znaleźć w profilu
                  <a href="https://www.linkedin.com/in/arkadiusz-miroslaw/">LinkedIn</a>.
                  We wszystkich sprawach proszę pisać do mnie pod tym adresem- <a href="mailto:ar.miroslaw@gmail.com">ar.miroslaw@gmail.com</a>.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card" id="skills">
          <div class="card-header">Umiejętności</div>
          <div class="card-body">
            <div class="skill" *ngFor="let skill of skills">
              <div class="skillbar clearfix " ngbTooltip="{{skill.tooltip}}" data-percent="{{skill.skillLevel}}%"
                   placement="top">
                <div class="skillbar-title" [ngStyle]="{'background': skill.titleColor}">{{skill.name}}</div>
                <div class="skillbar-bar" [ngStyle]="{'background': skill.barColor, width: skill.skillLevel + '%'}"
                     [@expand]="{value: skill.name, params: {barWidth: skill.skillLevel}}"></div>
                <div class="skill-bar-percent">{{skill.skillLevel}}%</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" id="technologies">
          <div class="card-header">Technologie
            <button class="btn btn-info float-end" type="button" (click)="collapse.toggle()"
                    [attr.aria-expanded]="isTechnologyDescriptionCollapsed" aria-controls="text-technology">
              {{isTechnologyDescriptionCollapsed == true ? 'Rozwiń' : 'Zwiń'}} opis
            </button>
          </div>
          <div class="card-body">
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isTechnologyDescriptionCollapsed">
              <div class="row mx-auto">
                <div class="col-12 col-sm-3">
                  <h5 class="card-title">Java</h5>
                  <ul>
                    <li>Java 8+</li>
                    <li>Liferay</li>
                    <li>Spring</li>
                  </ul>
                </div>
                <div class="col-12 col-sm-3">
                  <h5 class="card-title">Bazy danych</h5>
                  <ul>
                    <li>SQL</li>
                    <li>JPA</li>
                    <li>Hibernate</li>
                    <li>MySQL</li>
                  </ul>
                </div>
                <div class="col-12 col-sm-3 ">
                  <h5 class="card-title">Web</h5>
                  <ul>
                    <li>HTML/CSS</li>
                    <li>Bootstrap</li>
                    <li>JavaScript</li>
                    <li>jQuery</li>
                    <li>Angular<sup>*</sup></li>
                  </ul>
                </div>
                <div class="col-12 col-sm-3">
                  <h5 class="card-title">Testing i inne</h5>
                  <ul>
                    <li>Git</li>
                    <li>JUnit</li>
                    <li>Selenium</li>
                    <li>Maven</li>
                    <li>SOLID</li>
                  </ul>
                </div>
                <div class="small text-muted">*- w trakcie nauki</div>
              </div>
              <hr/>
            </div>
            <ul id="devicons" class="list-inline text-center">
              <li class="list-inline-item" ngbTooltip="java">
                <i class="devicons devicons-java"></i>
              </li>
              <!-- TODO: update devicon -->
              <!-- <li class="list-inline-item" ngbTooltip="Spring"><i class="devicons devicons-spring"></i> </li> -->
              <li class="list-inline-item" ngbTooltip="Spring Boot">
                <picture>
                  <source type="image/avif" srcset="assets/img/about/icons/spring-invert.avif">
                  <img src="assets/img/about/icons/spring-invert.png" alt="spring logo"/>
                </picture>
              </li>
              <li class="list-inline-item" ngbTooltip="Hibernate">
                <picture>
                  <source type="image/avif" srcset="assets/img/about/icons/hibernate-invert.avif">
                  <img src="assets/img/about/icons/hibernate-invert.png" alt="hibernate logo"/>
                </picture>
              </li>
              <li class="list-inline-item" ngbTooltip="Postgress"><i class="devicons devicons-postgresql"></i>
              </li>
              <li class="list-inline-item" ngbTooltip="git"><i class="devicons devicons-git"></i></li>
              <li class="list-inline-item" ngbTooltip="HTML5"><i class="devicons devicons-html5"></i>
              </li>
              <li class="list-inline-item" ngbTooltip="CSS3"><i class="devicons devicons-css3"></i>
              </li>
              <li class="list-inline-item" ngbTooltip="Java Script"><i
                class="devicons devicons-javascript"></i></li>
              <li class="list-inline-item" ngbTooltip="jQuery"><i class="devicons devicons-jquery"></i>
              </li>
              <li class="list-inline-item" ngbTooltip="Bootstrap"><i
                class="devicons devicons-bootstrap"></i></li>
              <li class="list-inline-item" ngbTooltip="Linux"><i class="devicons devicons-linux"></i>
              </li>
              <li class="list-inline-item" ngbTooltip="Docker"><i class="devicons devicons-docker"></i> </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Personalnie</div>
          <div class="card-body">
            <h4 class="card-title">Nie samym kodem człowiek żyje, czyli kilka słów o moich zainteresowaniach. </h4>
            W wolnych chwilach oprócz programowania staram się inwestować oraz poznawać nowe kultury poprzez kontakt z
            ludźmi z innych krajów. Dla odprężenia i lepszego samopoczucia biegam i jeżdżę na rolkach.
          </div>
        </div>
      </div>
    </div>
  </div>

