<section class="bg-light" id="portfolio">
  <div class="container">
<!--    <div class="row">-->
<!--      <div class="col-lg-12 text-center">-->
<!--        <h2 class="section-heading text-uppercase">Programy i aplikacje</h2>-->
<!--      </div>-->
<!--    </div>-->

    <div class="row">
      <div *ngFor="let portfolio of portfolios" class="col-md-4 col-sm-6 portfolio-item">
        <ng-container *ngIf="isModalType(portfolio.project);  then modal; else projectUrl">
        </ng-container>
        <ng-template #projectUrl>
          <a class="portfolio-link" target="_blank" rel="noopener noreferrer" [href]="portfolio.project.href">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <fa-icon [icon]="['fas', 'link']" size="3x"></fa-icon>
              </div>
            </div>
            <picture>
              <source type="image/avif" srcset="" [srcset]="utilService.getAvifImgPath(portfolio.cardImgPath)">
              <img class="img-fluid" [src]="portfolio.cardImgPath" [alt]="portfolio.title">
            </picture>
          </a>
        </ng-template>

        <ng-template #modal>
          <a class="portfolio-link" (click)="openModal(modalPopup)">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <fa-icon [icon]="['fas', 'search-plus']" size="3x"></fa-icon>
              </div>
            </div>
            <picture>
              <source type="image/avif" srcset="" [srcset]="utilService.getAvifImgPath(portfolio.cardImgPath)">
              <img class="img-fluid" [src]="portfolio.cardImgPath" [alt]="portfolio.title">
            </picture>
          </a>
        </ng-template>

        <div class="portfolio-caption">
          <h4>{{portfolio.title}}</h4>
          <p class="text-muted">{{portfolio.caption}}</p>
        </div>

        <ng-template #modalPopup let-modal>
          <div class="portfolio-modal">
            <div class="modal-header">
              <h2 class="modal-title">{{portfolio.title}}</h2>
              <div class="close-modal" aria-label="Close" (click)="modal.dismiss()">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <p [innerHTML]="portfolio.project.description"></p>
              <ng-container *ngIf="portfolio.project.features">
                <h3> Features:</h3>
                <ul class="contains-task-list">
                  <li *ngFor="let feature of portfolio.project.features">{{feature}}</li>
                </ul>
              </ng-container>
              <ng-container *ngFor="let screenshot of portfolio.project.screenshotsPath">
                <picture>
                  <source type="image/avif" srcset="" [srcset]="utilService.getAvifImgPath(screenshot)">
                  <img class="img-fluid d-block mx-auto" [src]="screenshot" alt="screenshot of {{portfolio.title}}">
                </picture>
              </ng-container>
              <ng-container *ngIf="portfolio.project.technology">
                <h3>Used technology</h3>
                <p>{{portfolio.project.technology}}</p>
              </ng-container>
              <ul class="list-inline text-center">
                <li *ngIf="portfolio.project.projectUrl" class="list-inline-item">
                  <a target="_blank" rel="noopener noreferrer" [href]="portfolio.project.projectUrl">
                    <fa-layers size="2x">
                      <fa-icon [icon]="['fas', 'circle']"></fa-icon>
                      <fa-icon [inverse]="true" [icon]="['fas', 'link']" transform="shrink-6"></fa-icon>
                    </fa-layers>
                  </a>
                </li>
                <li *ngIf="portfolio.project.repositoryUrl" class="list-inline-item">
                  <a target="_blank" rel="noopener noreferrer" [href]="portfolio.project.repositoryUrl">
                    <fa-layers size="2x">
                      <fa-icon [icon]="['fas', 'circle']"></fa-icon>
                      <fa-icon [inverse]="true" [icon]="['fab', 'github']" transform="shrink-6"></fa-icon>
                    </fa-layers>
                  </a>
                </li>
              </ul>
            </div>
            <div class="modal-footer">
              <button class="btn btn-theme btn-info" type="button" (click)="modal.dismiss()">
                <fa-icon [icon]="['fas', 'times']"></fa-icon>
                Zamknij
              </button>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>

</section>
