<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Programy i aplikacje</h2>
        <!--            <h3 class="section-subheading text-muted">application development</h3>-->
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" (click)="openModal(languide)">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <fa-icon [icon]="['fas', 'plus']" size="3x"></fa-icon>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/languide_small.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Languide</h4>
          <p class="text-muted">Aplikacja do nauki języków obcych.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" (click)="openModal(portfolioModal6)">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <fa-icon [icon]="['fas', 'plus']" size="3x"></fa-icon>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/android_small.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Gamification for Android</h4>
          <p class="text-muted">Aplikacja motywacyjna, która używa metody "grywalizacji".</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" target="_blank" href="https://github.com/amiroslaw/review">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <fa-icon [icon]="['fas', 'link']" size="3x"></fa-icon>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/restful_small.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Review</h4>
          <p class="text-muted">Aplikacja RESTful do rewidowania postępów w osiąganiu swoich celów</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" (click)="openModal(portfolioModal7)">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <fa-icon [icon]="['fas', 'plus']" size="3x"></fa-icon>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/chart_eportfel_small.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>ePortfel</h4>
          <p class="text-muted">Elektroniczy portfel do zarządzania budżetem domowym.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" (click)="openModal(portfolioModal8)">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <fa-icon [icon]="['fas', 'plus']" size="3x"></fa-icon>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/draw_grywalizacja_small.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Grywalizacja</h4>
          <p class="text-muted">Aplikacja motywacyjna. Wersja na komputery stacjonarne.</p>
        </div>
      </div>

    </div>
    <!--   end apps   -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Strony internetowy i gry</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" target="_blank" href="http://philippadalton.uk/">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <fa-icon [icon]="['fas', 'link']" size="3x"></fa-icon>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/philippa_site_small.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Philipa Dalton</h4>
          <p class="text-muted">Strona dla nauczyciela</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" (click)="openModal(landingPage)">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <fa-icon [icon]="['fas', 'plus']" size="3x"></fa-icon>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/elearning_small.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Landing page</h4>
          <p class="text-muted">Platformy edukacyjnej</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" target="_blank" href="http://zespol-nostress.pl/">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <fa-icon [icon]="['fas', 'link']" size="3x"></fa-icon>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/nostress_small.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>NoStress</h4>
          <p class="text-muted">Strona dla zespołu muzycznego</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" (click)="openModal(portfolioModal2)">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <fa-icon [icon]="['fas', 'plus']" size="3x"></fa-icon>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/games/wisielec_food_small.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Zgadywanka</h4>
          <p class="text-muted">Gra edukacyjna - wisielec</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" (click)="openModal(portfolioModal3)">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <fa-icon [icon]="['fas', 'plus']" size="3x"></fa-icon>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/games/wpisz_animal_small.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Type Fast</h4>
          <p class="text-muted">Gra edukacyjna na pisanie słówek</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" (click)="openModal(portfolioModal4)">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <fa-icon [icon]="['fas', 'plus']" size="3x"></fa-icon>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/games/platforma_small.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Alien</h4>
          <p class="text-muted">Platformowa gra edukacyjna.</p>
        </div>
      </div>

    </div>

  </div>

  <!-- Portfolio Modals -->

  <ng-template #landingPage let-modal>
    <div class="portfolio-modal">
      <div class="modal-header">
        <h2 class="modal-title">Zdobywcy wiedzy</h2>
        <div class="close-modal" aria-label="Close" (click)="modal.dismiss()">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
      </div>
      <p class="item-intro text-muted">Landing page dla platformy edukacyjnej.</p>

      <div class="modal-body mx-auto">
        <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/zdobywcy_all.png" alt="">
        <p>Nieaktualna już strona platformy edukacyjnej
          <a href="https://zdobywcywiedzy.pl/">Zdobywcy wiedzy</a>. Niestety nie mogę pokazać
          funkcjonalności strony.</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-theme btn-info" type="button" (click)="modal.dismiss()">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
          Zamknij
        </button>
      </div>
    </div>
  </ng-template>

  <!-- Modal 2 wisielec -->
  <ng-template #portfolioModal2 let-modal>

    <div class="portfolio-modal">
      <div class="modal-header">

        <h2 class="modal-title">Zgadywanka</h2>
        <div class="close-modal" aria-label="Close" (click)="modal.dismiss()">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
      </div>
      <p class="item-intro text-muted">Gra edukacyja - wisielec.</p>
      <div class="modal-body">
        <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/games/wisielec_menu.png" alt="">
        <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/games/wisielec_food_full.png" alt="">
        <p>Gra dla platformy edukacyjnej
          <a href="https://zdobywcywiedzy.pl/">Zdobywcy wiedzy</a>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-theme btn-info" type="button" (click)="modal.dismiss()">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
          Zamknij
        </button>
      </div>
    </div>
  </ng-template>

  <!-- Modal 3 wpisz -->
  <ng-template #portfolioModal3 let-modal>
    <div class="portfolio-modal">
      <div class="modal-header">

        <h2 class="modal-title">Type Fast</h2>
        <div class="close-modal" aria-label="Close" (click)="modal.dismiss()">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
      </div>

      <p class="item-intro text-muted">Gra edukacyja ćwicząca pisanie słówek.</p>
      <div class="modal-body">
        <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/games/wpisz_game.png" alt="">
        <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/games/wpisz_animal_full.png" alt="">
        <p>Gra dla platformy edukacyjnej
          <a href="https://zdobywcywiedzy.pl/">Zdobywcy wiedzy</a>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-theme btn-info" type="button" (click)="modal.dismiss()">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
          Zamknij
        </button>
      </div>
    </div>
  </ng-template>

  <!-- Modal 4 platforma -->
  <ng-template #portfolioModal4 let-modal>
    <div class="portfolio-modal">
      <div class="modal-header">
        <h2 class="modal-title">Alien</h2>
        <div class="close-modal" aria-label="Close" (click)="modal.dismiss()">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
      </div>
      <p class="item-intro text-muted">Platformowa gra edukacyja.</p>
      <div class="modal-body">
        <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/games/platforma_menu.png" alt="">
        <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/games/platforma_game.png" alt="">
        <p>Gra dla platformy edukacyjnej
          <a href="https://zdobywcywiedzy.pl/">Zdobywcy wiedzy</a>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-theme btn-info" type="button" (click)="modal.dismiss()">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
          Zamknij
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #languide let-modal>
    <div class="portfolio-modal">
      <div class="modal-header">
        <h2 class="modal-title">Languide</h2>
        <div class="close-modal" aria-label="Close" (click)="modal.dismiss()">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <p class="item-intro text-muted">Web application for learning foreign languages.</p>
        <p>The web application for learning foreign languages. The application easily compares the texts from
          two
          languages sentence by sentence. This note could have tags and can be saved in a notebook. You can
          create
          a dictionary from select words.
          <br>
          <strong>Notice</strong>: This app is in developer stage.</p>
        <h3> Features:</h3>
        <ul class="contains-task-list">
          <li> Authentication a user</li>
          <li> Comparing two texts</li>
          <li> Creating notebook with user articles</li>
          <li> Adding words to a dictionary</li>
          <li> Managing user articles and notebooks</li>
          <li> Saving to database</li>
        </ul>
        <p>This app won't have translation option.</p>
        <h3>Used technology</h3>
        <p>Spring Boot, Spring MVC, Spring Security, Java 8, Hibernate, H2 database, JUnit, Mockito, Project
          Lombok,
          thymeleaf, Bootstrap 4, wordnik API</p>
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a target="_blank" href="https://mighty-castle-53559.herokuapp.com/">
              <fa-layers size="2x">
                <fa-icon [icon]="['fas', 'circle']"></fa-icon>
                <fa-icon [inverse]="true" [icon]="['fas', 'link']" transform="shrink-6"></fa-icon>
              </fa-layers>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://github.com/amiroslaw/languide">
              <fa-layers size="2x">
                <fa-icon [icon]="['fas', 'circle']"></fa-icon>
                <fa-icon [inverse]="true" [icon]="['fab', 'github']" transform="shrink-6"></fa-icon>
              </fa-layers>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-theme btn-info" type="button" (click)="modal.dismiss()">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
          Zamknij
        </button>
      </div>
    </div>
  </ng-template>

  <!-- Modal 6  -->
  <ng-template #portfolioModal6 let-modal>
    <div class="portfolio-modal">
      <div class="modal-header">
        <h2 class="modal-title">Gamification for Android</h2>
        <div class="close-modal" aria-label="Close" (click)="modal.dismiss()">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
      </div>
      <p class="item-intro text-muted">The motivational application uses the "
        <a href="https://en.wikipedia.org/wiki/Gamification" rel="nofollow">gamification</a>" method. The
        program was written in Android.</p>
      <div class="modal-body">
        <h3>Features:</h3>
        <ul class="contains-task-list">
          <li> creating a deck of cards</li>
          <li> managing decks</li>
          <li> saving to database</li>
          <li> editing cards</li>
          <li> help</li>
        </ul>
        <h3>Used technology and libraries</h3>
        <p>SQLite, ORMLite, butterknife, junit, espresso test, picasso The application was written in the MVP
          pattern.</p>
        <a href="https://github.com/amiroslaw/Gamification-android" target="_blank">
          <fa-layers size="2x">
            <fa-icon [icon]="['fas', 'circle']"></fa-icon>
            <fa-icon [inverse]="true" [icon]="['fab', 'github']" transform="shrink-6"></fa-icon>
          </fa-layers>
        </a>
      </div>

      <div class="modal-footer">
        <button class="btn btn-theme btn-info" type="button" (click)="modal.dismiss()">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
          Zamknij
        </button>
      </div>
    </div>
  </ng-template>
  <!-- Modal 7  -->
  <ng-template #portfolioModal7 let-modal>
    <div class="portfolio-modal">
      <div class="modal-header">
        <h2 class="modal-title">e-Wallet</h2>
        <div class="close-modal" aria-label="Close" (click)="modal.dismiss()">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
      </div>
      <p class="item-intro text-muted">Electronic wallet created in JavaFX technology</p>
      <div class="modal-body">
        <p>The electronic wallet was created using javaFX technology. Use it to manage your personal
          accounts. The application implements a
          <a href="https://en.wikipedia.org/wiki/Double-entry_bookkeeping_system" rel="nofollow">Double-entry
            bookkeeping system</a>. The program is cross-platform software, built in Java 8</p>
        <h3>Features:</h3>
        <ul class="contains-task-list">
          <li>creating a wallet</li>
          <li>creating a user profile</li>
          <li>logging in to a user profile</li>
          <li>managing wallets</li>
          <li>saving in to a database</li>
          <li>creating reports</li>
        </ul>
        <h3>Used technology</h3>
        <p>Java 8, JavaFX, Scene Builder, SQLite, JDBC
          <br> The application was written in MVC pattern.</p>
        <a href="https://github.com/amiroslaw/ePortfel" target="_blank">
          <fa-layers size="2x">
            <fa-icon [icon]="['fas', 'circle']"></fa-icon>
            <fa-icon [inverse]="true" [icon]="['fab', 'github']" transform="shrink-6"></fa-icon>
          </fa-layers>
        </a>
      </div>

      <div class="modal-footer">
        <button class="btn btn-theme btn-info" type="button" (click)="modal.dismiss()">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
          Zamknij
        </button>
      </div>
    </div>
  </ng-template>

  <!-- Modal 8  -->
  <ng-template #portfolioModal8 let-modal>
    <div class="portfolio-modal">
      <div class="modal-header">
        <h2 class="modal-title">Gamification</h2>
        <div class="close-modal" aria-label="Close" (click)="modal.dismiss()">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <p>The motivational application uses the "<a href="https://en.wikipedia.org/wiki/Gamification"
                                                     rel="nofollow">gamification</a>" method.
          The program was written in Java 8 and JavaFX technology.</p>
        <h3>Features:</h3>
        <ul class="contains-task-list">
          <li>creating a deck of cards</li>
          <li>editing cards</li>
          <li>managing decks</li>
          <li>saving to database</li>
        </ul>
        <h3>Used technology</h3>
        <p>Java 8, JavaFX, Scene Builder, SQLite, ORMLite, JDBC<br>
          The application was written in the MVC pattern.</p>
        <a href="https://github.com/amiroslaw/grywalizacja" target="_blank">
          <fa-layers size="2x">
            <fa-icon [icon]="['fas', 'circle']"></fa-icon>
            <fa-icon [inverse]="true" [icon]="['fab', 'github']" transform="shrink-6"></fa-icon>
          </fa-layers>
        </a>
      </div>

      <div class="modal-footer">
        <button class="btn btn-theme btn-info" type="button" (click)="modal.dismiss()">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
          Zamknij
        </button>
      </div>
    </div>
  </ng-template>
</section>

