<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Programy i aplikacje</h2>
      </div>
    </div>

    <div class="row">
      <div *ngFor="let app of apps" class="col-md-4 col-sm-6 portfolio-item">
        <ng-container *ngIf="isModalType(app.project);  then modal; else projectUrl">
        </ng-container>
        <ng-template #projectUrl>
          <a class="portfolio-link" target="_blank" rel="noopener noreferrer" [href]="app.project.href">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <fa-icon [icon]="['fas', 'link']" size="3x"></fa-icon>
              </div>
            </div>
            <img class="img-fluid" [src]="app.cardImgPath" alt="">
          </a>
        </ng-template>

        <ng-template #modal>
          <a class="portfolio-link" (click)="openModal(modalPopup)">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <fa-icon [icon]="['fas', 'search-plus']" size="3x"></fa-icon>
              </div>
            </div>
            <img class="img-fluid" [src]="app.cardImgPath" alt="">
          </a>
        </ng-template>

        <div class="portfolio-caption">
          <h4>{{app.title}}</h4>
          <p class="text-muted">{{app.caption}}</p>
        </div>

        <ng-template #modalPopup let-modal>
          <div class="portfolio-modal">
            <div class="modal-header">
              <h2 class="modal-title">{{app.title}}</h2>
              <div class="close-modal" aria-label="Close" (click)="modal.dismiss()">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <p [innerHTML]="app.project.description"></p>
              <ng-container *ngIf="app.project.features">
                <h3> Features:</h3>
                <ul class="contains-task-list">
                  <li *ngFor="let feature of app.project.features">{{feature}}</li>
                </ul>
              </ng-container>
              <ng-container *ngIf="app.project.technology">
                <h3>Used technology</h3>
                <p>{{app.project.technology}}</p>
              </ng-container>
              <ul class="list-inline text-center">
                <li *ngIf="app.project.projectUrl" class="list-inline-item">
                  <a target="_blank" rel="noopener noreferrer" [href]="app.project.projectUrl" >
                    <fa-layers size="2x">
                      <fa-icon [icon]="['fas', 'circle']"></fa-icon>
                      <fa-icon [inverse]="true" [icon]="['fas', 'link']" transform="shrink-6"></fa-icon>
                    </fa-layers>
                  </a>
                </li>
                <li *ngIf="app.project.repositoryUrl" class="list-inline-item">
                  <a target="_blank" rel="noopener noreferrer" [href]="app.project.repositoryUrl">
                    <fa-layers size="2x">
                      <fa-icon [icon]="['fas', 'circle']"></fa-icon>
                      <fa-icon [inverse]="true" [icon]="['fab', 'github']" transform="shrink-6"></fa-icon>
                    </fa-layers>
                  </a>
                </li>
              </ul>
            </div>
            <div class="modal-footer">
              <button class="btn btn-theme btn-info" type="button" (click)="modal.dismiss()">
                <fa-icon [icon]="['fas', 'times']"></fa-icon>
                Zamknij
              </button>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>

</section>
