<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <section>
        <div *ngIf="showAllTags() | async; else posts">
          <ul class="tags">
            <li *ngFor="let tag of allTags">
              <a href="/tags/{{tag.slug}}">{{tag.name}}<span>{{tag.counter}}</span></a>
            </li>
          </ul>
        </div>
        <ng-template #posts>
          <div>
            <h2 class="section-heading text-center">
              {{slugTitle$ | async}}
            </h2>
            <app-post-card *ngFor="let post of posts$ | async" [article]="post"></app-post-card>
            <div class="clearfix"></div>
          </div>
        </ng-template>
      </section>
    </div>
  </div>
</div>
