<header class="masthead" style="background-image: url('assets/img/sites/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container" *ngIf="content$ | async as post">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">

          <h1 class="post-title">
            {{post.title}}
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <article class="post">
        <scully-content></scully-content>
      </article>
    </div>
  </div>
</div>
