/* =====================================================================================================================================
 post preview   ===============================================================================================
===================================================================================================================================== */
.post-preview a {
  text-align: center;
  color: #212529;
}

.post-title a:focus, .post-preview a:hover {
  text-decoration: none;
  color: #0085A1;
}

.post-preview .post-title {
  font-size: 25px;
}

.post-preview .post-subtitle {
  font-weight: 300;
  font-size: 18px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
}

.post-title p, .post-subtitle p {
  margin: 10px 0;
}

.post-meta {
  font-size: 18px;
  font-style: italic;
  margin: 0 5px 0 10px;
  color: #868e96;
}

.post-meta a {
  text-decoration: none;
  color: #212529;
}

.post-meta a:focus, .post-meta a:hover {
  text-decoration: underline;
  color: #0085A1;
}

.post-meta i {
  color: #17a2b8;
  margin: 0 4px 0 10px;
}

.post-meta > div {
  margin: 5px;
}

@media only screen and (min-width: 768px) {
  .post-title {
    font-size: 36px;
  }
}

.btn-theme {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  /*  border-radius: 0;*/
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}


article.post iframe {
  display: block;
  margin: 0 auto;
}

article.post img {
  display: block;
  margin: 2% auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  article.post .img-left {
    float: left;
    margin: 2% 2% 2% 0;
    max-width: 40%;
  }

  article.post .img-right {
    float: right;
    margin: 2% 0 2% 2%;
    max-width: 40%;
  }

  article.post .img-25 {
    max-width: 25%;
  }

  article.post .img-55 {
    max-width: 55%;
  }

  article.post .img-75 {
    max-width: 75%;
  }
}

.medium-zoom-overlay {
  background-color: var(--background) !important;
  z-index: 2;
}

.medium-zoom-image--opened {
  z-index: 3;
}

#toc {
  margin: auto;
  max-width: 40%;
}

#toc > div {
  text-transform: uppercase;
}

