<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <article class="post">
        <div id="date">
          <fa-icon [icon]="['far', 'calendar-alt']" class="mr-1"></fa-icon>
          <time datetime="article.date">{{postDate$ | async | date}}</time>
          <fa-icon [icon]="['far', 'clock']" class="ml-3"></fa-icon>
        </div>
        <scully-content></scully-content>
        <ul class="tags">
          <li *ngFor="let tag of postTags$ | async" class="tag">
            <a href="tags/{{tag.slug}}">{{tag.name}}</a>
          </li>
        </ul>
      </article>
    </div>
  </div>
</div>
