$small: 576px;
$medium: 768px;
$large: 992px;
$xl: 1200px;
$xxl: 1400px;

$color-primary: #17a2b8;
$color-primary-dark: #0085A1;
$color-primary-text: #212529;
$color-secondary-text:#63809c;
$color-gray: #6c757d;
$color-accent: #d63384;
